body{
    font-family: "Poppins", serif;
    /* background-image: linear-gradient(to top, #ace0f990  30%,  #fff1eb90 70%); */
    background-image: linear-gradient(180deg, rgba(255,255,255,0.01),  rgba(255,255,255,1) 85%), 
    radial-gradient(ellipse at top left, rgba(13, 110, 253, 0.2), transparent 50%),
    radial-gradient(ellipse at top right, rgba(221, 230, 109, 0.2), transparent 50%),
    radial-gradient(ellipse at center right,rgba(112.520718, 44.062154, 249.437846, 0.2), transparent 50%),
    radial-gradient(ellipse at center left, rgba(214, 51, 132, 0.2), transparent 50%);
    font-size: 13px;
}

p{
    font-size: 13px;
}

.main{
    background-color: #fff;
    min-height: 100vh;
    margin-top:20px;
}


.navbar{
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(255, 255, 255, 0.05);
}

.nav-link{
    font-size: 14px !important;
    font-weight: 400;
}

.dropdown-item{
    font-size: 13px !important;
}

/* breadcumbs */
.breadcrumb{
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}

.breadcrumb-item{
    padding: 2px 4px;
}

.breadcrumb-item a{
    font-style: normal;
    color: #333;
    text-decoration: none;
    font-size: 12px;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "»";
}

/* full calendar */
.fc td{
    height: 110px !important;
}

.fc-scrollgrid-sync-inner > a, .fc-daygrid-day-number{
    color: #222 !important;
    text-decoration: none;
}

.fc-toolbar-title{
    font-size: 18px !important;
}

.fc-.btn-custom{
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
}

.fc-day-sun, .fc-day-sat{
    background-color: #ffedeb;
}

/* Footer */
footer {
    background-color: rgb(0, 0, 0);
    text-align: center;
}
footer .environment {
    color: rgba(255, 255, 255, 1);
    padding: 1rem 1.75rem 0rem 1.75rem;
}


footer .environment p{
    font-size: 14px;
}

footer .copyrights {
    background-color: rgba(62, 62, 62, 1);
    color: rgba(200, 200, 200, 1);
    padding: .05rem 1.75rem .05rem 1.75rem;
}
footer .copyrights p{
    font-size: 12px;
}

/**/
.btn {
    border-width: 0;
    line-height: 1.538;
    padding: 9px 20px;
    border-radius: 10px !important;
    transition: none;
    min-height: 38px;
    font-size: 13px;
}

.btn:active,
.btn:focus {
    box-shadow: none;
}

.btn-light {
    color: #1c273c !important;
    background-color: #cdd4e0 !important;
    border-color: #bdc6d6 !important;
}
.btn-light:hover {
    color: #1c273c !important;
    background-color: #b5c0d1 !important;
    border-color: #9eabc3 !important;
}
.btn-light:focus,
.btn-light.focus {
    color: #1c273c !important;
    background-color: #b5c0d1 !important;
    border-color: #9eabc3 !important;
    box-shadow: 0 0 0 0.2rem rgba(165, 175, 191, 0.5) !important;
}
.btn-light.disabled,
.btn-light:disabled {
    color: #1c273c !important;
    background-color: #cdd4e0 !important;
    border-color: #bdc6d6 !important;
}
.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show > .btn-light.dropdown-toggle {
    color: #1c273c !important;
    background-color: #aeb9cc !important;
    border-color: #96a5be !important;
}
.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(165, 175, 191, 0.5) !important;
}

.btn-indigo {
    color: #fff !important;
    background-color: #5b47fb !important;
    border-color: #452efa !important;
}
.btn-indigo:hover {
    color: #fff !important;
    background-color: #3a22fa !important;
    border-color: #1f05f0 !important;
}
.btn-indigo:focus,
.btn-indigo.focus {
    color: #fff !important;
    background-color: #3a22fa !important;
    border-color: #1f05f0 !important;
    box-shadow: 0 0 0 0.2rem rgba(97, 77, 251, 0.5) !important;
}
.btn-indigo.disabled,
.btn-indigo:disabled {
    color: #fff !important;
    background-color: #5b47fb !important;
    border-color: #452efa !important;
}
.btn-indigo:not(:disabled):not(.disabled):active,
.btn-indigo:not(:disabled):not(.disabled).active,
.show > .btn-indigo.dropdown-toggle {
    color: #fff !important;
    background-color: #2f15fa !important;
    border-color: #1e05e4 !important;
}
.btn-indigo:not(:disabled):not(.disabled):active:focus,
.btn-indigo:not(:disabled):not(.disabled).active:focus,
.show > .btn-indigo.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(97, 77, 251, 0.5) !important;
}

.btn-purple {
    color: #fff !important;
    background-color: #6f42c1 !important;
    border-color: #643ab0 !important;
}
.btn-purple:hover {
    color: #fff !important;
    background-color: #5e37a6 !important;
    border-color: #4e2d89 !important;
}
.btn-purple:focus,
.btn-purple.focus {
    color: #fff !important;
    background-color: #5e37a6 !important;
    border-color: #4e2d89 !important;
    box-shadow: 0 0 0 0.2rem rgba(123, 87, 188, 0.5) !important;
}
.btn-purple.disabled,
.btn-purple:disabled {
    color: #fff !important;
    background-color: #6f42c1 !important;
    border-color: #643ab0 !important;
}
.btn-purple:not(:disabled):not(.disabled):active,
.btn-purple:not(:disabled):not(.disabled).active,
.show > .btn-purple.dropdown-toggle {
    color: #fff !important;
    background-color: #59339d !important;
    border-color: #482a80 !important;
}
.btn-purple:not(:disabled):not(.disabled):active:focus,
.btn-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-purple.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(123, 87, 188, 0.5) !important;
}

.btn-pink {
    color: #fff !important;
    background-color: #f10075 !important;
    border-color: #d80069 !important;
}
.btn-pink:hover {
    color: #fff !important;
    background-color: #cb0062 !important;
    border-color: #a50050 !important;
}
.btn-pink:focus,
.btn-pink.focus {
    color: #fff !important;
    background-color: #cb0062 !important;
    border-color: #a50050 !important;
    box-shadow: 0 0 0 0.2rem rgba(221, 38, 127, 0.5) !important;
}
.btn-pink.disabled,
.btn-pink:disabled {
    color: #fff !important;
    background-color: #f10075 !important;
    border-color: #d80069 !important;
}

.btn-pink:not(:disabled):not(.disabled):active,
.btn-pink:not(:disabled):not(.disabled).active,
.show > .btn-pink.dropdown-toggle {
    color: #fff !important;
    background-color: #be005c !important;
    border-color: #98004a !important;
}
.btn-pink:not(:disabled):not(.disabled):active:focus,
.btn-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-pink.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(221, 38, 127, 0.5) !important;
}

.btn-gray-500 {
    color: #1c273c !important;
    background-color: #97a3b9 !important;
    border-color: #8896af !important;
}
.btn-gray-500:hover {
    color: #fff !important;
    background-color: #808faa !important;
    border-color: #697b9a !important;
}
.btn-gray-500:focus,
.btn-gray-500.focus {
    color: #fff !important;
    background-color: #808faa !important;
    border-color: #697b9a !important;
    box-shadow: 0 0 0 0.2rem rgba(120, 133, 158, 0.5) !important;
}
.btn-gray-500.disabled,
.btn-gray-500:disabled {
    color: #1c273c !important;
    background-color: #97a3b9 !important;
    border-color: #8896af !important;
}
.btn-gray-500:not(:disabled):not(.disabled):active,
.btn-gray-500:not(:disabled):not(.disabled).active,
.show > .btn-gray-500.dropdown-toggle {
    color: #fff !important;
    background-color: #7988a4 !important;
    border-color: #637493 !important;
}
.btn-gray-500:not(:disabled):not(.disabled):active:focus,
.btn-gray-500:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-500.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(120, 133, 158, 0.5) !important;
}

.btn-gray-700 {
    color: #fff !important;
    background-color: #596882 !important;
    border-color: #4f5c73 !important;
}
.btn-gray-700:hover {
    color: #fff !important;
    background-color: #49566b !important;
    border-color: #3a4455 !important;
}
.btn-gray-700:focus,
.btn-gray-700.focus {
    color: #fff !important;
    background-color: #49566b !important;
    border-color: #3a4455 !important;
    box-shadow: 0 0 0 0.2rem rgba(105, 116, 136, 0.5) !important;
}
.btn-gray-700.disabled,
.btn-gray-700:disabled {
    color: #fff !important;
    background-color: #596882 !important;
    border-color: #4f5c73 !important;
}
.btn-gray-700:not(:disabled):not(.disabled):active,
.btn-gray-700:not(:disabled):not(.disabled).active,
.show > .btn-gray-700.dropdown-toggle {
    color: #fff !important;
    background-color: #445064 !important;
    border-color: #353e4d !important;
}
.btn-gray-700:not(:disabled):not(.disabled):active:focus,
.btn-gray-700:not(:disabled):not(.disabled).active:focus,
.show > .btn-gray-700.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(105, 116, 136, 0.5); !important
}

[class*="btn-outline-"] {
    padding: 0.4rem 1rem !important;
    line-height: 1.657 !important;
    border-width: 1px !important;
    background-color: transparent !important;
}
[class*="btn-outline-"]:hover,
[class*="btn-outline-"]:focus {
    color: #fff !important;
}

.btn-outline-indigo {
    border-color: #5b47fb !important;
    color: #5b47fb !important;
}
.btn-outline-indigo:hover,
.btn-outline-indigo:focus {
    background-color: #5b47fb !important;
}

.btn-outline-light {
    border-color: #97a3b9 !important;
    color: #97a3b9 !important;
}
.btn-outline-light:hover,
.btn-outline-light:focus {
    background-color: #97a3b9 !important;
}

/* teal = #27b1ae*/
.btn-teal {
    color: #fff !important;
    background-color: #27b1ae !important;
    border-color: #1b9c9a !important;
}
.btn-teal:hover {
    color: #fff !important;
    background-color: #209c9a !important;
    border-color: #199997 !important;
}
.btn-teal:focus,
.btn-teal.focus {
    color: #fff !important;
    background-color: #016968 !important;
    border-color: #035857 !important;
    box-shadow: 0 0 0 0.2rem rgba(4, 163, 184, 0.5) !important;
}
.btn-teal.disabled,
.btn-teal:disabled {
    color: #fff !important;
    background-color: #0da7a4 !important;
    border-color: #19b9b7 !important;
}

.btn-teal:not(:disabled):not(.disabled):active,
.btn-teal:not(:disabled):not(.disabled).active,
.show > .btn-teal.dropdown-toggle {
    color: #fff !important;
    background-color: #016968 !important;
    border-color: #035857 !important;
}
.btn-teal:not(:disabled):not(.disabled):active:focus,
.btn-teal:not(:disabled):not(.disabled).active:focus,
.show > .btn-teal.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(4, 163, 184, 0.5) !important;
}

.btn-outline-primary:hover, .btn-outline-primary:active{
    color: #fff !important;
    background-color: #1061da !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #0d6efd !important;
}

/* overwrite datatable */
/* .dataTable > thead > tr, .dataTable > tbody > tr {
    font-size: 95% !important;
} */

.page-link {
    color: #0d6efd !important;
}

.page-link.active, .active > .page-link {
    z-index: 3;
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}

.text-teal{
    color: #148986;
}


/* select2 */
.select2-container--bootstrap .select2-selection {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* autocomplete */
.autoComplete_wrapper {
    display: block;
    flex: 1 1 auto;
}

.autoComplete_wrapper>input {
    width: 100%;
    font-size: 14px;
}

.autoComplete_wrapper>ul>li {
    font-size: 14px;
}
