body{
    font-family: "Poppins", serif;
    /* background-image: linear-gradient(to top, #ace0f990  30%,  #fff1eb90 70%); */
    background-image: linear-gradient(180deg, rgba(255,255,255,0.01),  rgba(255,255,255,1) 85%), 
    radial-gradient(ellipse at top left, rgba(13, 110, 253, 0.2), transparent 50%),
    radial-gradient(ellipse at top right, rgba(221, 230, 109, 0.2), transparent 50%),
    radial-gradient(ellipse at center right,rgba(112.520718, 44.062154, 249.437846, 0.2), transparent 50%),
    radial-gradient(ellipse at center left, rgba(214, 51, 132, 0.2), transparent 50%);
}

p{
    font-size: 16px;
}

.main{
    background-color: #fff;
    padding: 5px 10px 10px 10px;
    height: 100vh;
    margin-top:20px;
}


.navbar{
    border-top: 2px solid #ea4539;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05), inset 0 -1px 0 rgba(255, 255, 255, 0.05);
}

.nav-link{
    font-size: 14px !important;
}

.dropdown-item{
    font-size: 14px !important;
}

.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}

/* breadcumbs */
.breadcrumb{
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}

.breadcrumb-item{
    padding: 2px 4px;
}

.breadcrumb-item a{
    font-style: normal;
    color: #333;
    text-decoration: none;
    font-size: 12px;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: "»";
}

/* full calendar */
.fc-scrollgrid-sync-inner > a, .fc-daygrid-day-number{
    color: #222 !important;
    text-decoration: none;
}

.fc-toolbar-title{
    font-size: 20px !important;
}

.fc-button{
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
}

.fc-day-sun, .fc-day-sat{
    background-color: #ffedeb;
}

/* Footer */
footer {
    background-color: rgb(0, 0, 0);
    text-align: center;
}
footer .environment {
    color: rgba(255, 255, 255, 1);
    padding: 1rem 1.75rem 0rem 1.75rem;
}
footer .copyrights {
    background-color: rgba(62, 62, 62, 1);
    color: rgba(200, 200, 200, 1);
    padding: .05rem 1.75rem .05rem 1.75rem;
}